name: CD
on:
  push:
    branches: [ release ]
jobs:
  build:
    name: Create JAR file
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup
        uses: olafurpg/setup-scala@v14
        with:
          java-version: "adopt@1.15"
      - name: Run Tests
        run: sbt test
        shell: bash
      - name: Create jar
        run: sbt assembly
        shell: bash
      - name: Upload jar
        id: create_release
        uses: actions/upload-artifact@v4
        with:
          name: pps-pvzlike
          path: target/scala-3.2.0/*.jar

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
      - name: Build LaTeX report
        uses: xu-cheng/latex-action@v2
        with:
          root_file: report.tex
          args: '-output-format=pdf -file-line-error -synctex=1 -halt-on-error -interaction=nonstopmode -shell-escape'
          working_directory: doc/tex/report
      - name: Build backlog report
        uses: xu-cheng/latex-action@v2
        with:
          root_file: backlog.tex
          args: '-output-format=pdf -file-line-error -synctex=1 -halt-on-error -interaction=nonstopmode -shell-escape'
          working_directory: backlog/process
      - name: Rename jar file
        run: mv pps-pvzlike/*.jar pps-pvzlike/pps-pvzlike.jar
      - name: Rename report file
        run: mv doc/tex/report/*.pdf doc/tex/report/pps-pvzlike-report.pdf
      - name: Rename backlog file
        run: mv backlog/process/*.pdf backlog/process/process-backlog.pdf
      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "0.4.0"
          prerelease: false
          title: "Scrum Sprint 5 - Release"
          files: |
            pps-pvzlike/*.jar
            doc/tex/report/pps-pvzlike-report.pdf
            backlog/process/process-backlog.pdf
            backlog/product/product-backlog.xlsx