name: CI
on:
  push:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
          os: [ macos-latest, windows-latest, ubuntu-latest ]
          java: [ adopt@1.11, adopt@1.16 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Scala
        uses: olafurpg/setup-scala@v14
        with:
          java-version: ${{ matrix.java }}
      - name: Test
        run: sbt -v -Dfile.encoding=UTF-8 +test
        shell: bash
